<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="page" th:if="${page.totalPage > 0}">
    <div class="absolute bottom-20 right-20">
        <div class="flex absolute right-10 mt-10">
            <div class="flex">
                <a
                        th:if="${page.showFirstPage == true}"
                        th:href="@{${urlPage}(currentPage = 1, search=${search}, pageSize = ${page.pageSize})}"
                        class=" hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showFirstPage == false}"
                        class="cursor-not-allowed flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showPreviousPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage - 1}, search=${search}, pageSize = ${page.pageSize})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showPreviousPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </div>
            </div>
            <div class="flex">
                <th:block th:each="i:${#numbers.sequence(page.startPage,page.endPage)}">
                    <a
                            th:href="@{${urlPage}(currentPage=${i}, search=${search}, pageSize = ${page.pageSize})}"
                            th:class="(${page.currentPage == i} ?
                        (${page.totalPage > 1} ? '-mt-2' : '' ) + ' text-white bg-gradient-to-b from-blue-500 to-blue-300' :
                        'bg-gradient-to-b hover:from-blue-600 hover:to-blue-400 hover:text-white bg-gray-200 hover:text-white') +
                        ' h-6 w-6 flex justify-center items-center mx-1 rounded'"
                            th:text="${i}"></a>
                </th:block>
            </div>
            <div class="flex">
                <a
                        th:if="${page.showNextPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage + 1}, search=${search}, pageSize = ${page.pageSize})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showNextPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showEndPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.totalPage}, search=${search}, pageSize = ${page.pageSize})}"
                        class=" hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showEndPage == false}"
                        class="cursor-not-allowed flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </div>
            </div>
            <th:block th:if="${hasPageSize == true && page.totalPage > 0}">
                <form th:action="@{${urlPage}}">
                    <input type="text" th:name="search" th:value="${search}" hidden>
                    <select name="pageSize" onchange="this.form.submit()" class="border border-gray-300 ml-3 rounded">
                        <option value="1" th:text="1" th:selected="${pageSize == i} ? true : false"></option>
                        <th:block th:each="i:${#numbers.sequence(1,20)}">
                            <th:block th:if="${i % 5 == 0}">
                                <option th:value="${i}" th:text="${i} + ' / ' + #{page}" th:selected="${page.pageSize == i}"></option>
                            </th:block>
                        </th:block>
                    </select>
                </form>
            </th:block>
        </div>
    </div>
</div>
<div th:fragment="pageSystem" th:if="${page.totalPage > 0}">
    <div class="w-full">
        <div class="flex justify-center">
            <div class="flex">
                <a
                        th:if="${page.showFirstPage == true}"
                        th:href="@{${urlPage}( currentPage = 1,  search = ${search}, pageSize = ${page.pageSize}, area = ${tinhThanhID})}"
                        class=" hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showFirstPage == false}"
                        class="cursor-not-allowed flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showPreviousPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage - 1}, search=${search}, pageSize = ${page.pageSize}, area = ${tinhThanhID})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showPreviousPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </div>
            </div>
            <div class="flex">
                <th:block th:each="i:${#numbers.sequence(page.startPage,page.endPage)}">
                    <a
                            th:href="@{${urlPage}(currentPage=${i}, search=${search}, pageSize = ${page.pageSize}, area = ${tinhThanhID})}"
                            th:class="(${page.currentPage == i} ?
                            ' text-white bg-gradient-to-b from-blue-500 to-blue-300 ' :
                            'bg-gradient-to-b hover:from-blue-600 hover:to-blue-400 hover:text-white bg-gray-200 hover:text-white') +
                            ' h-6 w-6 flex justify-center items-center mx-1 rounded'"
                            th:text="${i}"></a>
                </th:block>
            </div>
            <div class="flex">
                <a
                        th:if="${page.showNextPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage + 1}, search=${search}, pageSize = ${page.pageSize}, area = ${tinhThanhID})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showNextPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showEndPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.totalPage}, search=${search}, pageSize = ${page.pageSize}, area = ${tinhThanhID})}"
                        class=" hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showEndPage == false}"
                        class="cursor-not-allowed flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="page1"  th:if="${page.totalPage > 0}">
    <div class="w-full">
        <div class="flex justify-end">
            <div class="flex">
                <a
                        th:if="${page.showFirstPage == true}"
                        th:href="@{${urlPage}(currentPage = 1, search=${search}, pageSize = ${page.pageSize})}"
                        class=" hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showFirstPage == false}"
                        class="cursor-not-allowed flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showPreviousPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage - 1}, search=${search}, pageSize = ${page.pageSize})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center  hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showPreviousPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center  w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 19l-7-7 7-7"/>
                    </svg>
                </div>
            </div>
            <div class="flex">
                <th:block th:each="i:${#numbers.sequence(page.startPage,page.endPage)}">
                    <a
                            th:href="@{${urlPage}(currentPage=${i}, search=${search}, pageSize = ${page.pageSize})}"
                            th:class="(${page.currentPage == i} ?
                            ' text-white bg-gradient-to-b from-blue-500 to-blue-300 ' :
                            'bg-gradient-to-b hover:from-blue-600 hover:to-blue-400 hover:text-white bg-gray-200 hover:text-white') +
                            ' h-6 w-6 flex justify-center items-center mx-1 rounded'"
                            th:text="${i}"></a>
                </th:block>
            </div>
            <div class="flex">
                <a
                        th:if="${page.showNextPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.currentPage + 1}, search=${search}, pageSize = ${page.pageSize})}"
                        class="mx-1 hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showNextPage == false}"
                        class="cursor-not-allowed mx-1 flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </div>
                <a
                        th:if="${page.showEndPage == true}"
                        th:href="@{${urlPage}(currentPage=${page.totalPage}, search=${search}, pageSize = ${page.pageSize})}"
                        class=" hover:bg-blue-500 flex justify-center items-center hover:text-white w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </a>
                <div
                        th:if="${page.showEndPage == false}"
                        class="cursor-not-allowed flex justify-center items-center w-6 h-6 bg-opacity-0 rounded border-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>