<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Sinh vien</h1>
    </div>
    <th:block th:each="item,index : ${findAll}">
        <p>Name: <span th:text="${item.name}"></span>.</p>
        <p>Surname: <span th:text="${item.diaChi}"></span>.</p>
    </th:block>
    </div>
</div>
</body>
</html>